@import "./colors";
@import "./variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark_bg;
  color: $white;
}

/* MAIN SECTION */

.main {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  &_inner {
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;

    .main {
      &_top {
        .logo_img {
          margin: 1rem;

          & > img {
            width: fit-content;
          }
        }

        p {
          font-weight: 600;
          font-size: 2rem;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2rem;
          gap: 0.5rem;
          text-transform: capitalize;
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
      }

      &_bottom {
        position: relative;
        & > img {
          width: 100%;
          height: 70vh;
        }

        .box {
          position: absolute;
          top: 7rem;
          border: 1px solid red;
          right: -7rem;
          background: $secondary;
          font-weight: 600;
          text-align: left;
          padding: 1.5rem 1rem;
          border-radius: 1rem;
          border: 1px solid $white;
          line-height: 1.2rem;
          width: 17rem;
        }
      }
    }
  }
}
